.projects {

    padding-top: 9.375rem;
    background-color: #000;
    color: $purple;
    

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0;
        transition: opacity 1s ease;
    }

    &__wrapper {
    }

    &__subtitle {
        margin-bottom: .375rem;
    }

    &__title {
        margin-bottom: 1.5625rem;
    }

    &__divider {
        margin-bottom: 3.75rem;
    }
}

.loaded-projects {
    .projects__container {
        opacity: 1;
    }
}