.contact {
    padding-top: 7.5rem;
    width: 100vw;
    min-height: 100vh;
    background-color: #000;
    color: $purple;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__subtitle {
        margin-bottom: .375rem;
        opacity: 0;
        transition: opacity 1s ease;
    }

    &__title {
        margin-bottom: 1.5625rem;
        opacity: 0;
        transition: opacity 1s ease;
        text-align: center;
    }

    &__divider {
        margin-bottom: 2.8125rem;
        opacity: 0;
        transition: opacity 1s ease;
    }

    &__content {
        width: 100%;
        display: flex;
        gap: 6.25rem;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__social {
        transform: translateX(-100%);
        opacity: 0;
        transition: transform 1s ease, opacity 1s ease;

        h3 {
            margin-bottom: 2.8125rem;
        }
    }

    &__social-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1.875rem;

        a {
            color: $purple;
            display: flex;
            align-items: center;
            gap: .3125rem;
            transition: all 0.3s ease;

            path {
                transition: all 0.3s ease;
            }

            &:hover {

                color: #fff;
                transition: all 0.3s ease;

                path{
                    transition: all 0.3s ease;
                    fill: #fff;
                }
            }
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        align-items: center;
        transform: translateX(100%);
        opacity: 0;
        transition: transform 1s ease, opacity 1s ease;

        h3 {
            margin-bottom: .9375rem;
        }

        label {
            width: 100%;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .3125rem;
            cursor: url(../assets/cursor/cursor.svg), auto;
        }

        input {
            height: 1.875rem;
            border-radius: .625rem;
            padding: .625rem;
            font-weight: bold;

            &:focus {
                outline: none;
            }
        }

        textarea {
            border-radius: .625rem;
            padding: .625rem;
            font-weight: bold;
            resize: none;
        }
    }
     
    input.contact_btn {
        height: 2.1875rem;
        background-color: $purple;
        padding: .625rem 1.875rem;
        border-radius: .625rem;
    
        cursor: url(../assets/cursor/pointer.svg), auto;
    }
}

.loaded-contact {
    .contact {
        &__subtitle {
            opacity: 1;
        }
    
        &__title {
            opacity: 1;
        }
    
        &__divider {
            opacity: 1;
        }

        &__social {
            transform: translateX(0);
            opacity: 1;
        }

        &__form {
            transform: translateX(0);
            opacity: 1;
        }
    }
}