@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;700&display=swap');
@import './variables';

* {
    box-sizing: border-box;
}

body {
    cursor: url(../assets/cursor/cursor.svg), auto;
}

.app {
    position: relative;
    overflow-x: hidden;
    font-family: $plexMono;
}


@import '../components/Header/_header.scss';
@import '../components/Main/_main.scss';
@import '../components/AboutMe/_about.scss';
@import '../components/Projects/projects';
@import '../components/Contact/_contact.scss';

a:hover {
    cursor: url(../assets/cursor/pointer.svg), auto;
}