@import url(d:\IT\Vite\vite-project\src\style\reset.css);
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.app {
  font-family: "IBM Plex Mono", monospace;
}

.header {
  position: fixed;
  width: 60%;
  z-index: 10;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  left: 50%;
}

.loaded .header, .loaded-about .header {
  -webkit-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.menu {
  background: #c850f2;
  border-radius: 0rem 0rem .5rem .5rem;
}

.menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: calc(20px + (40 - 20) * ((100vw - 425px)/(1920 - 425))) calc(25px + (120 - 25) * ((100vw - 320px)/(1920 - 320)));
}

.menu_item {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  will-change: transform;
}

.menu_item:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.menu_link {
  letter-spacing: 0.01em;
  color: #000;
  font-size: calc(12px + (20 - 12) * ((100vw - 320px)/(1920 - 320)));
}

.mobile {
  display: none;
}

@media (max-width: 768px) {
  .header {
    width: 80%;
  }
}

@media (max-width: 426px) {
  .header {
    display: none;
  }
  .mobile {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow: hidden;
    visibility: hidden;
  }
  .mobile_menu {
    height: 100%;
    background-color: #c850f2;
    -webkit-transform: translate(-100%, 0px);
            transform: translate(-100%, 0px);
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }
  .mobile_list {
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 100px;
  }
  .mobile_item {
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 20px;
  }
  .mobile_link {
    color: #000;
    display: block;
    width: 200px;
  }
  .mobile_popup {
    z-index: 100;
    width: 150px;
    height: 150px;
    position: absolute;
    background: #000 center / auto no-repeat;
    background-color: #fff;
    border-radius: 50%;
    top: -50px;
    right: -50px;
  }
  .mobile_popup span {
    display: block;
    width: 25px;
    height: 2px;
    background-color: #c850f2;
    position: relative;
    top: 75px;
    left: 50px;
  }
  .mobile_popup span::after {
    display: block;
    width: 25px;
    height: 2px;
    background-color: #c850f2;
    position: relative;
    top: 5px;
    left: 0;
    content: '';
    -webkit-transition: rotate 1s ease;
    transition: rotate 1s ease;
  }
  .mobile_popup span::before {
    display: block;
    width: 25px;
    height: 2px;
    background-color: #c850f2;
    position: relative;
    top: 15px;
    left: 0;
    content: '';
    -webkit-transition: rotate 1s ease;
    transition: rotate 1s ease;
  }
  .mobile_open {
    visibility: visible;
  }
  .mobile_open .mobile_menu {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
  }
}

.mobile_popup.close {
  width: 150px;
  height: 150px;
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  top: -50px;
  right: -50px;
}

.mobile_popup.close span {
  display: none;
}

.mobile_popup.close::before {
  content: '';
  display: block;
  width: 25px;
  height: 3px;
  background-color: #c850f2;
  position: absolute;
  top: 85px;
  left: 50px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.mobile_popup.close::after {
  content: '';
  display: block;
  width: 25px;
  height: 3px;
  background-color: #c850f2;
  position: absolute;
  top: 85px;
  left: 50px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

[class*='-tag'] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  will-change: transform;
  z-index: -10;
}

.opening-tag span {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../assets/BG/opening-tag.png) center/auto 10% no-repeat;
  margin-left: -40vw;
  -webkit-transform: translate(-100%, 0rem);
          transform: translate(-100%, 0rem);
}

.slash-tag span {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../assets/BG/slash-tag.svg) center/auto 12% no-repeat;
  margin-left: 35vw;
  -webkit-transform: translate(100%, 0rem);
          transform: translate(100%, 0rem);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.closing-tag span {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../assets/BG/closing-tag.png) center/auto 10% no-repeat;
  margin-left: 40vw;
  -webkit-transform: translate(100%, 0rem);
          transform: translate(100%, 0rem);
}

.bitmoji-tag span {
  display: block;
  width: 100%;
  height: 100%;
  margin-left: 20vw;
  background: url(../assets/Bitmoji/sticker.webp) center/auto 35% no-repeat;
  opacity: 0;
}

.main {
  color: #c850f2;
  will-change: transform;
}

.main_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  gap: 30px;
  max-width: 60%;
  margin: 0 auto;
}

.main_title {
  font-size: calc(18px + (45 - 18) * ((100vw - 320px)/(1920 - 320)));
  opacity: 0;
  font-weight: 700;
}

.main_description {
  font-size: 14px;
  max-width: calc(250px + (600 - 250) * ((100vw - 20rem)/(1920 - 320)));
  opacity: 0;
  color: #fff;
  line-height: 1.875rem;
  font-size: calc(15px + (25 - 15) * ((100vw - 320px)/(1920 - 320)));
}

.main_description span {
  font-size: calc(16px + (30 - 16) * ((100vw - 20rem)/(1920 - 320)));
  display: block;
  font-weight: 700;
}

.main_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 12.5rem;
  height: 3.125rem;
  background-color: #fff;
  border-radius: 1.25rem;
  padding-left: 1.25rem;
  line-height: 3.125rem;
  font-weight: 700;
  z-index: 100;
  color: #c850f2;
  opacity: 0;
  overflow: hidden;
}

.main_button span {
  display: inline-block;
  overflow: hidden;
  width: 3.125rem;
  height: 3.125rem;
  background: url(../assets/services/arrow-right.svg) center/auto 60% no-repeat;
  -webkit-transform: translate(-100%, 0px);
          transform: translate(-100%, 0px);
  opacity: 0;
  -webkit-transition: opacity 0.5s ease, -webkit-transform 1s ease;
  transition: opacity 0.5s ease, -webkit-transform 1s ease;
  transition: transform 1s ease, opacity 0.5s ease;
  transition: transform 1s ease, opacity 0.5s ease, -webkit-transform 1s ease;
}

.main_button:hover span {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: transform 1s ease, opacity 1s ease;
  transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease;
}

.loaded .opening-tag span {
  -webkit-transform: translate(0rem, 0rem) rotate(720deg);
          transform: translate(0rem, 0rem) rotate(720deg);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.loaded .slash-tag span {
  -webkit-transform: translate(0rem, 0rem) rotate(-720deg);
          transform: translate(0rem, 0rem) rotate(-720deg);
  -webkit-transition: -webkit-transform 1.25s ease;
  transition: -webkit-transform 1.25s ease;
  transition: transform 1.25s ease;
  transition: transform 1.25s ease, -webkit-transform 1.25s ease;
}

.loaded .closing-tag span {
  -webkit-transform: translate(0rem, 0rem) rotate(-720deg);
          transform: translate(0rem, 0rem) rotate(-720deg);
  -webkit-transition: -webkit-transform 1.5s ease;
  transition: -webkit-transform 1.5s ease;
  transition: transform 1.5s ease;
  transition: transform 1.5s ease, -webkit-transform 1.5s ease;
}

.loaded .bitmoji-tag span {
  opacity: 1;
  -webkit-transition: opacity 3s ease;
  transition: opacity 3s ease;
}

.loaded .main_title {
  -webkit-transition: opacity 3s ease;
  transition: opacity 3s ease;
  opacity: 1;
}

.loaded .main_description {
  -webkit-transition: opacity 3s ease;
  transition: opacity 3s ease;
  opacity: 1;
}

.loaded .main_button {
  -webkit-transition: opacity 3s ease;
  transition: opacity 3s ease;
  opacity: 1;
}

@media (max-width: 768px) {
  .opening-tag span {
    margin-left: calc(-120px + (-250 + 120) * ((100vw - 320px)/(768 - 320)));
    margin-top: 180px;
  }
  .slash-tag span {
    margin-left: calc(85px + (210 - 85) * ((100vw - 320px)/(768 - 320)));
    margin-top: 180px;
  }
  .closing-tag span {
    margin-left: calc(120px + (250 - 120) * ((100vw - 320px)/(768 - 320)));
    margin-top: 180px;
  }
  .bitmoji-tag span {
    margin-left: 0;
    margin-top: 150px;
  }
  .main_content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 120px;
  }
  .main_description {
    text-align: center;
  }
}

.about {
  background-color: #000;
  overflow-x: hidden;
}

.container {
  max-width: 73.125rem;
  padding: 0 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro {
  padding-top: calc(9.375rem + (220 - 150) * ((100vw - 20rem)/(1920 - 320)));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #c850f2;
  opacity: 0;
  -webkit-transition: opacity 1.5s ease;
  transition: opacity 1.5s ease;
  margin-bottom: 7.5rem;
}

.intro__img {
  max-width: 12.5rem;
  min-height: 11.875rem;
}

.intro__content {
  max-width: 35.625rem;
}

.intro__subtitle {
  margin-bottom: .375rem;
}

.intro__title {
  margin-bottom: .25rem;
}

.intro__divider {
  margin-bottom: 1.25rem;
}

.subtitle {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  position: relative;
  padding-left: 10px;
  z-index: 1;
}

.subtitle::before {
  position: absolute;
  content: '';
  display: block;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  background-color: #fff;
  z-index: -1;
  left: 0;
  top: -0.25rem;
}

.title {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 3.75rem;
}

.text_fz14 {
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.3125rem;
}

.text_fz12 {
  font-weight: 500;
  font-size: .75rem;
  line-height: 1.125rem;
}

.text_bold-fz14 {
  font-weight: 700;
  font-size: .875rem;
  line-height: 1.3125rem;
}

.divider {
  display: block;
  width: 3.75rem;
  border: .1875rem solid #fff;
}

.loaded-about .intro {
  opacity: 1;
}

@media (max-width: 868px) {
  .intro__content {
    max-width: 28.75rem;
  }
}

@media (max-width: 768px) {
  .intro__content {
    max-width: 50%;
  }
}

@media (max-width: 567px) {
  .intro__content {
    max-width: 100%;
  }
}

.exp {
  color: #c850f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.exp__title {
  margin-bottom: 1.5625rem;
}

.exp__divider {
  margin-bottom: 3.75rem;
}

.exp__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.exp__block {
  max-width: 26.5625rem;
}

.exp__block h4 {
  margin-bottom: 2.8125rem;
}

.exp__item {
  max-width: 23.4375rem;
}

.exp__item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.125rem;
  position: relative;
  z-index: 1;
}

.exp__item-header::before {
  position: absolute;
  content: '';
  display: block;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  background-color: #fff;
  z-index: -1;
}

.exp__item-header img {
  padding-left: .625rem;
}

.contact {
  padding-top: 12.5rem;
  width: 100vw;
  min-height: 100vh;
  background-color: #000;
}

.contact_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact_form label {
  width: 100%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .3125rem;
}

.contact_form input:not(:last-child) {
  width: 25%;
  height: 1.875rem;
  border-radius: .625rem;
  padding: .625rem;
  font-weight: bold;
}

.contact_form input:not(:last-child):focus {
  outline: none;
}

.contact_form textarea {
  width: 25%;
  border-radius: .625rem;
  padding: .625rem;
  font-weight: bold;
  resize: none;
}

.contact_btn {
  background-color: #c850f2;
  padding: .625rem 1.875rem;
  border-radius: .625rem;
}

.contact_btn:hover {
  cursor: pointer;
}
/*# sourceMappingURL=App.css.map */