.about {
    background-color: #000;
    overflow-x: hidden;
}

.container {
    max-width: 73.125rem;
    padding: 0 .9375rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

// Introduction Block

.intro {
    padding-top: calc(9.375rem + (220 - 150) * ((100vw - 20rem)/(1920 - 320)));
    display: flex;
    flex-wrap: wrap;
    gap: 4.25rem;
    justify-content: center;
    align-items: center;
    color: $purple;
    opacity: 0;
    transition: opacity 1.5s ease;
    margin-bottom: 7.5rem;

    &__img {
        max-width: 12.5rem;
        min-height: 11.875rem;
    }

    &__content {
        max-width: 35.625rem;
    }

    &__subtitle {
        margin-bottom: .375rem;
    }

    &__title {
        margin-bottom: .25rem;
    }

    &__divider {
        margin-bottom: 1.25rem;
    }
}
.subtitle {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    position: relative;
    padding-left: .625rem;
    z-index: 1;

    &::before {
        position: absolute;
        content: '';
        display: block;
        width: 1.875rem;
        height: 1.875rem;
        border-radius: 50%;
        background-color: #fff;
        z-index: -1;
        left: 0;
        top: -0.25rem;
    }
}
.title {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 3.75rem;
}
.text {

    &_fz14 {
        font-weight: 500;
        font-size: .875rem;
        line-height: 1.3125rem;
    }

    &_fz12 {
        font-weight: 500;
        font-size: .75rem;
        line-height: 1.125rem;
    }

    &_bold-fz14 {
        font-weight: 700;
        font-size: .875rem;
        line-height: 1.3125rem;
    }
}

.divider {
    display: block;
    width: 3.75rem;
    border: .1875rem solid #fff;
}

@media(max-width:868px) {
    .intro {
        &__content {
            max-width: 28.75rem;
        }
    }
}

@media(max-width:768px) {
    .intro {
        &__content {
            max-width: 50%;
        }
    }
}

@media(max-width:567px) {
    .intro {
        &__content {
            max-width: 100%;
        }
    }
}

// Experience Block

.exp {
    color: $purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7.5rem;
    transition: opacity 1.5s ease;
    opacity: 0;

    &__title {
        margin-bottom: 1.5625rem;
    }

    &__divider {
        margin-bottom: 3.75rem;
    }

    &__content {
        padding: 0 4.0625rem;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__block {
        max-width: 26.5625rem;
        padding-left: 3.125rem;

        h4 {
            position: relative;

            &::before {
                content: '';
                width: .9375rem;
                height: .9375rem;
                background-color: #fff;
                position: absolute;
                top: 0;
                left: -3.125rem;
                border-radius: 50%;
            }
        }

        ul {
            position: relative;
            &::before {
                content: '';
                height: 100%;
                width: .125rem; 
                position: absolute;
                left: -2.7188rem;
                background-color: $purple;
            }

            li {
                padding-top: 2.8125rem;
            }
        }
    }

    &__item {
        max-width: 23.4375rem;
        position: relative;

        &::before {
            content: '';
            width: 2.6875rem;
            height: .125rem;
            background-color: $purple;
            position: absolute;
            left: -2.6875rem;
            top: .8125rem;
        }
    }

    &__item-header {
        display: flex;
        gap: 1.125rem;
        position: relative;
        z-index: 1;

        &::before {
            position: absolute;
            content: '';
            display: block;
            width: 1.875rem;
            height: 1.875rem;
            border-radius: 50%;
            background-color: #fff;
            z-index: -1;
        }

        img {
            padding-left: .625rem;
            max-width: 2.1875rem;
        }
    }

    &__item-title {
       margin-bottom: .75rem; 
    }
}

@media(max-width: 768px) {
    .exp__item {
        margin-bottom: 2.5rem;
    }
}

.loaded-about {
    .intro {
        opacity: 1;
    }

    .exp {
        opacity: 1;
    }
}