@media(max-width:515px) {
    .exp {
        #marketing {
            transform: translateY(-10%);
        }

        #university {
            transform: translateY(0%);
        }

        #courses {
            transform: translateY(0%);
        }

        #letter {
            transform: translateY(0%);
        }
    }
}

@media(max-width:504px) {
    .exp {
        #marketing {
            transform: translateY(-10%);
        }

        #university {
            transform: translateY(-10%);
        }

        #courses {
            transform: translateY(0%);
        }

        #letter {
            transform: translateY(0%);
        }
    }
}

@media(max-width:445px) {
    .exp {
        #marketing {
            transform: translateY(-10%);
        }

        #university {
            transform: translateY(-10%);
        }

        #courses {
            transform: translateY(-10%);
        }

        #letter {
            transform: translateY(0%);
        }
    }
}

@media(max-width:443px) {
    .exp {
        #marketing {
            transform: translateY(-10%);
        }

        #university {
            transform: translateY(-10%);
        }

        #courses {
            transform: translateY(-10%);
        }

        #letter {
            transform: translateY(-10%);
        }
    }
}

@media(max-width:421px) {
    .exp {
        #marketing {
            transform: translateY(-20%);
        }

        #university {
            transform: translateY(-10%);
        }

        #courses {
            transform: translateY(-10%);
        }

        #letter {
            transform: translateY(-10%);
        }
    }
}

@media(max-width:389px) {
    .exp {
        #marketing {
            transform: translateY(-20%);
        }

        #university {
            transform: translateY(-20%);
        }

        #courses {
            transform: translateY(-10%);
        }

        #letter {
            transform: translateY(-10%);
        }
    }
}

@media(max-width:371px) {
    .exp {
        #marketing {
            transform: translateY(-20%);
        }

        #university {
            transform: translateY(-20%);
        }

        #courses {
            transform: translateY(-20%);
        }

        #letter {
            transform: translateY(-10%);
        }
    }
}

@media(max-width:357px) {
    .exp {
        #marketing {
            transform: translateY(-20%);
        }

        #university {
            transform: translateY(-20%);
        }

        #courses {
            transform: translateY(-20%);
        }

        #letter {
            transform: translateY(-20%);
        }
    }
}